{% extends 'base.html.twig' %}
{% block body %}
	<main class="container mt-5 mb-5">
		<section class="row">
			<div class="col-12 text-center mb-4">
				<h1 class="title-article3">ERREUR 500 : Erreur interne du serveur</h1>
			</div>
			<div class="text-center mb-4">
				<p>
					Le serveur Web rencontre alors une difficulté pour trouver une page Web, sans être capable d'identifier précisément la source du problème
				</p>
			</div>
			<div class="text-center">
				<img src="{{ asset('build/images/Neuneu_404.gif') }}" alt="">
			</div>
		</section>
	</main>
{% endblock %}
